html, body, * {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	font-size: 18px;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	color: #232323;
	padding: 15px;
}

h1 {
	font-size: 150%;
}

.form {
	width: 320px;
	position: relative;
}

.form input {
	display: block;
	padding: 10px;
	margin-bottom: 10px;
	width: 100%;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.form button {
	cursor: pointer;
	padding: 10px;
	background-color: #920000;
	color: #ffffff;
	font-weight: bold;
	border: none;
	outline: none;
}

.form button:hover {
	opacity: 0.7;
}